@charset "utf-8";

:root {
  --duration: 800ms;
  --delay: 300ms;
  /* bezier: 시간에 따르는 속도 */
  --bezier: cubic-bezier(0.25, 0.1, 0.27, 0.54);
}

main {
  width: 1400px;
  margin: 30px auto;
}

.container {
  margin: 50px auto 0;
  padding: 50px;
  background-color: gray;
}

.image_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background: url("https://picsum.photos/1000/1200") no-repeat 50% bottom/cover; /* 배경 이미지의 위치 / 크기 구분용 슬래시 */
  border: 2px solid seashell;
  overflow: hidden;
  transition: background-position var(--duration);
}

.image_wrap::before { /* 가상 요소: 내부에 콘텐츠 추가하는 역할 */
  content: ''; /* 빈 값이어도 반드시 있어야 함 */
  position: absolute; /* 부모 클래스 위에 레이어가 존재 */
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(100%); /* 초기엔 화면 밖에 존재 */
  transition: transform var(--duration);
  transition-timing-function: var(--bezier); /* ease-in-out 보다 더 세밀함 */
}

.image_wrap .texts {
  position: relative; /* z-index 적용을 위해 필요 */
  z-index: 2; /* 가상 요소보다 위에 존재 */
  padding: 50px 20px 50px 50px; /* 상하좌우 여백을 통해 텍스트가 길어지더라
도 자연스럽게 여백 내에서 흐름  */
  text-align: right;
}

.image_wrap .title {
  display: block;
  font-size: 30px;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity var(--duration);
}

.image_wrap .details {
  margin-top: 20px;
  font-size: 18px;
  word-break: keep-all;
  line-height: 1.4;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity var(--duration);
  transition-delay: var(--delay);
}

/* 현재까지는 opacity가 0이기 때문에 보이지 않음 */

.image_wrap:hover {
  background-position: 100% bottom; /* 호버 시 배경 이미지 위치 변경 */
}

.image_wrap:hover::before {
  transform: translateY(0); /* 호버 시 가상 요소가 화면 안으로 들어옴 */
}

.image_wrap:hover .title,
.image_wrap:hover .details {
  opacity: 1; /* 호버 시 텍스트가 서서히 나타남 */
}