.noto_sans {
    font-family: 'Noto Sans KR', 'sans-serif';
    font-optical-sizing: auto;
    font-style: normal ;
}

.noto_sans.thin {
    font-weight: 100;
}

.noto_sans.regular {
    font-weight: 400;
}

.noto_sans.medium {
    font-weight: 500;
}  
