@charset "utf-8";

:root {
  --range-track-color: #494a55b5;
  --range-thumb-color: #5381ff;
  --canvas-border-color: #3a3a3a;
  --canvas-bg-color: #fafafa;
}

main {
  width: 100%;
  max-width: 1024px;
  margin: 50px auto 0;
  padding-left: 20px;
}

/* custom input[type="color"] */
input[type="color"] {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 브라우저 간 차이 해소를 위함(reset.css 처럼용~) */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

input[type="color"]::-moz-color-swatch,
input[type="color"]::-moz-focus-inner {
  border: 0;
}

input[type="color"]::-moz-focus-inner {
  padding: 0;
}

/* custom input[type="range"] */
input[type="range"] {
  width: 100%;
  height: 100%;
  align-items: center;
  overflow: hidden;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* 트랙 */
input[type="range"]::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  cursor: pointer;
  border: 1px solid var(--range-track-color);
}

/* 스크롤하는..동그란 거 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100%;
  aspect-ratio: 1/1;
  background: var(--range-thumb-color);
  cursor: pointer;
  border-radius: 30px;
}

/* styles */
.options {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

.options > label {
  display: flex;
  align-items: center;
  height: 30px;
}

.options input {
  flex-shrink: 0;
  margin-right: 10px;
}

.options .color_picker input {
  width: 40px;
}

.options .pencil_range input {
  width: 150px;
}

.paint {
  margin: 40px 0 10px;
  border: 3px solid var(--canvas-border-color);
  background-color: var(--canvas-bg-color);
}

.btn {
  display: block;
  width: 100px;
  height: 50px;
  background-color: #3a3a3a;
  color: #fafafa;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #1a1a1a;
}

p {
  margin-top: 10px;
}
