@charset "utf-8";

/* 부드러운 스크롤 행동 설정 */
html {
  box-sizing: border-box;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 200px;
  border: 1px solid black;
}

.scroll-area {
  scroll-snap-align: start;
  height: 250px;
}

.scroll-area:nth-of-type(1) {
  background-color: #49b293;
}

.scroll-area:nth-of-type(2) {
  background-color: #c94e4b;
}

.scroll-area:nth-of-type(3) {
  background-color: #4cc1be;
}

.scroll-area:nth-of-type(4) {
  background-color: #8360a6;
}
