@charset "utf-8";

@layer base, components;
@layer base {
  :root {
    /* Font Families */
    --font-family-Noto: "Noto Sans";
    --font-family-Dancing: "Dancing Script";

    /* Font Sizes */
    --font-size: 1rem;
    --font-size-big: 1.5rem;
    --font-size-title: 2rem;

    /* Line Heights */
    --line-height: 1.4;

    /* Color Palette */
    --color-link: blue;
    --color-link-hover: dodgerblue;
    --color-black: #000000;
  }
}

@layer components {
  a {
    color: var(--color-link, blue);
    transition: 0.3s ease-in-out;
    &:focus {
      color: var(--color-link-hover, var(--color-link, blue));
    }
    @media (hover: hover) {
      &:hover {
        color: var(--color-link-hover, var(--color-link, blue));
      }
    }
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeLegibility;
  font-family: var(--font-family-Noto, sans-serif);
  font-size: var(--font-size, 1rem);
  line-height: var(--line-height, 1.4);
}

/* 헤더 고정 및 스타일 설정 */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0 3%;

  & .header_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  & .logo a {
    font-family: var(--font-family-Dancing);
    font-size: var(--font-size-big);
    color: var(--color-black);
  }

  & .navigation ul {
    display: flex;
  }

  & li a {
    padding: 0 1rem;
    color: var(--color-black);
  }
}

main .section {
  margin: 0 auto;
  height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --content;
}

/* 콘텐츠 스타일 및 애니메이션 효과 적용 */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  inset: 0;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  animation: zoom-effect ease-in-out both;
  animation-timeline: --content;

  & .title {
    flex-shrink: 0;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family-Dancing);
  }

  & .text_wrap {
    width: 100%;
    word-break: keep-all;
    & img {
      display: block;
      float: inline-start;
      position: relative;
      shape-margin: 0.2rem;
      padding: 0 3%;
      #flower & {
        shape-outside: url(../../img/pixabay/flower.png);
      }
      #bluebird & {
        shape-outside: url(../../img/pixabay/bluebird.png);
      }
      #heart & {
        shape-outside: url(../../img/pixabay/heart.png);
      }
      #banana & {
        shape-outside: url(../../img/pixabay/banana.png);
      }
      #orange & {
        max-width: 480px;
        shape-outside: url(../../img/pixabay/orange.png);
      }
    }
    & .text {
      margin-top: 7rem;
      font-size: var(--font-size-big);
      color: var(--color-highlight);
    }
  }
}

/* 줌 효과 애니메이션 정의 */
@keyframes zoom-effect {
  0% {
    visibility: hidden;
    filter: blur(2rem);
    transform: scale(0);
    opacity: 0;
  }

  50% {
    visibility: visible;
    filter: blur(0);
    transform: none;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    filter: blur(1rem);
    transform: scale(2);
    opacity: 0;
  }
}
