@charset "utf-8";

@layer base, components;
@layer base {
  :root {
    /* Font Families */
    --font-family-Noto: "Noto Sans";
    --font-family-Dancing: "Dancing Script";

    /* Font Sizes */
    --font-size: 1rem;
    --font-size-big: 1.5rem;
    --font-size-title: 2rem;

    /* Line Heights */
    --line-height: 1.4;

    /* Color Palette */
    --color-link: blue;
    --color-link-hover: dodgerblue;
    --color-black: #000000;
    --color-highlight: #d48fff;
  }
}

@layer components {
  a {
    color: var(--color-link, blue);
    transition: 0.3s ease-in-out;
  }
  &:focus {
    color: var(--color-link-hover, var(--color-link, blue));
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-link-hover, var(--color-link, blue));
    }
  }
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* 세로 스크롤 설정 및 정렬 */
  overflow-x: hidden;
}

body {
  /* 성능과 시각적 최적화 간의 우선 순위를 어떻게 정할지를 브라우저에 알려줌 */
  text-rendering: optimizeLegibility; /* 글자 간격 조정 , 특정 글자 조합을 위한 특수기호 등을 활용하여 가독성을 최대화함. 긴 텍스트나 가독성이 필요할 경우에 사용*/
  font-family: var(--font-family-Noto, sans-serif);
  font-size: var(--font-size, 1rem);
  line-height: var(--line-height, 1.4);
  background-color: var(--color-background, white);
  opacity: 0;
  transition: opacity 0.5s;
}

/* 헤더 고정 및 스타일 설정 */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0 3%;

  & .header_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 0;
  }

  & .logo a {
    font-family: var(--font-family-Dancing);
    font-size: var(--font-size-big);
    color: var(--color-black);
  }

  & .navigation ul {
    display: flex;
    & li a {
      padding: 0 1rem;
      color: var(--color-highlight);
    }
  }
}

main .section {
  margin: 0 auto;
  height: 100dvh;
  scroll-snap-type: start;
  scroll-snap-stop: always; /* 스크롤이 (빨라도) 해당 요소에서 멈추도록 설정 */
  view-timeline: --content;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  inset: 0;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  animation: zoom-effect ease-in-out both;
  animation-timeline: --content;

  & .text_wrap {
    width: 100%;
    word-break: keep-all;
    & img {
      display: block;
      float: inline-start;
      position: relative;
      shape-margin: 0.2rem;
      padding: 0 3%;
      #flower & {
        shape-outside: url(./img/purpleflower.png);
      }
      #bluebird & {
        shape-outside: url(./img/bluebird.png);
      }
      #heart & {
        shape-outside: url(./img/heart.png);
      }
      #banana & {
        shape-outside: url(./img/banana.png);
      }
      #orange & {
        max-width: 480px;
        shape-outside: url(./img/orange.png);
      }
    }

    & .text {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s 0.5s;
      margin-top: 4rem;
      font-size: var(--font-size-big);
      color: var(--color-highlight);

      .active & {
        visibility: visible;
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  & .title {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(-1rem, 0, 0);
    transition:
      0.5s opacity,
      0.5s 0.5s transform 0.5s;
    flex-shrink: 0;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family-Dancing);

    .active & {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@keyframes zoom-effect {
  0% {
    visibility: hidden;
    filter: blur(2rem);
    transform: scale(0);
    opacity: 0;
  }
  50% {
    visibility: visible;
    filter: blur(0);
    transform: none;
    opacity: 1;
  }
  100% {
    visibility: visible;
    filter: blur(1rem);
    transform: scale(2);
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }
  .content {
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;

    & .title {
      padding: 0;
      padding-bottom: 2rem;
      text-align: center;
      transform: translate3d(0, -1rem, 0);
    }

    & .text_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      & img {
        float: none;
        max-width: 50dvw;
        max-height: calc(100dvh - 24rem);
        #orange & {
          max-width: 50dvw;
        }
      }
      & .text {
        max-width: 60dvw;
        font-size: 1.2rem;
        margin-top: 2rem;
        text-align: center;
        #banana & {
          margin-top: 2rem;
        }
        & br {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  header {
    & .header_contents {
      justify-content: center;
    }
    & .logo {
      display: none; /* 모바일에서 헤더 로고 숨기기 */
    }
  }
}

/* scroll() 기능을 지원하지 않는 브라우저에 대한 대체 스타일 
@supports not (animation-timeline: scroll) {
  .navigation {
    display: none; /* 네비게이션 숨기기
  }
  .content {
    position: relative;
  }
}
*/
