.section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  padding: 2rem;
}

.section .content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.section .content_wrapper.reverse {
  flex-direction: row-reverse;
}

.content {
  flex: 0 0 45%;
}

.content .title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  user-select: none;
}

.content .description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #fff0e0;
  user-select: none;
}

.content.main_content {
  text-align: center;
  pointer-events: auto;
}

.content.main_content .title {
  font-size: 4.8rem;
  text-align: center;
}

.content.main_content .description {
  font-size: 1.5rem;
  padding: 0 4rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .section .content_wrapper {
    flex-direction: column;
    text-align: center;
  }

  .section .content_wrapper.reverse {
    flex-direction: column;
  }

  .content {
    flex: 0 0 100%;
    margin-bottom: 2rem;
  }

  .content .title {
    font-size: 2.5rem;
  }

  .content .description {
    padding: 0 1.2rem;
    font-size: 1.5rem;
  }

  .content.main_content .title {
    font-size: 4.8rem;
    text-align: center;
  }

  .content.main_content .description {
    padding: 0 4rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
