@charset "utf-8";

:root {
  --duraction: 800ms;
  --delay: 300ms;
  --bezier: cubic-bezier(0.25, 0.1, 0.27, 0.54);
}

main {
  width: 1400px;
  margin: 30px auto;
}

.heading_1 {
  display: flex;
  justify-content: center;
}

.container {
  margin: 50px auto 0;
  padding: 50px;
  background-color: gray;
}

.image_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative; /* relative는 absolte의 기준점 역할 */
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background: url("./zombi.jpg") no-repeat 50% bottom / cover; /* background는 축약형(위치, 크기, 반복 작성가능) */
  border: 2px solid seashell;
  overflow: hidden;
  transition: background-position var(--duraction);
}

.image_wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transform: translateY(100%);
  transition: transform var(--duration);
  transition-timing-function: var(--bezier);
}

.image_wrap .texts {
  position: relative;
  z-index: 2;
  padding: 50px 20px 50px 50px;
  text-align: right;
}

.image_wrap .title {
  display: block;
  font-size: 30px;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity var(--duration);
}

.image_wrap .details {
  margin-top: 20px;
  font-size: 18px;
  word-break: keep-all;
  line-height: 1.4;
  color: white;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  opacity: 0;
  transition: opacity var(--duration);
  transition-delay: var(--delay);
}

/* hover */
.image_wrap:hover {
  background-position: 100% bottom;
}

.image_wrap:hover::before {
  transform: translateY(0);
}

.image_wrap:hover .title,
.image_wrap:hover .details {
  opacity: 1;
}
